@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Top National Parks in USA</h1>
    <h3>Discover the Natural Wonders.</h3>
    <br />
    <img src="https://news.harvard.edu/wp-content/uploads/2019/09/leo-serrat_unsplash-1-1600x900.jpg" class="img-responsive" />
</div>
